
    * {
        font-size: 20px;
        font-weight: 550;
        font-family: Montserrat;
    }

    input[type="button"]
    {
    background-color: ivory;
    color: black;
    border:  1px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 15% 15% 15% 15%;
    box-shadow: 0 0px 80px rgba(0, 0, 0, 0.05);
    }
    input[type="text"]
    {
    background-color:ivory;
    border: 1px;
    width: 100%;
    height: 100%;
    text-align: right;
    border-radius: 5px;
    box-shadow: 0 0.9px 10px rgba(0, 0, 0, 0.025), 0 7px 80px rgba(0, 0, 0, 0.05);
    }
    table{
        width: 100%;
        padding: 7% 7% 7% 7%;
        background-color: #161625;
        border-radius: 8px;
    }
    tr{
        display:flex;
    }
    td{
        width: 100%;
        height: 100%;
        padding: 3% 3% 3% 3%;
    }
    .main{
        margin: 2% auto auto auto;
        background-color: #161625;
        border-radius: 8px;
        width: 30%;
        height: 70%;
    }
    .evalarea{
        height: 10%;
        width: 80%;
        padding: 10% 5% 0 9.5%;
        }
    input:hover{
        background-color: #BDBDBD;
        cursor: pointer;
    }
    #equal{
        color: white;
        background-color:teal;
        font-weight: 600;
    }
    @media only screen and (max-width:760px){
        .main{
        margin: auto auto auto auto;
        width: 90%;
        height: 40%;
        }
        .evalarea{
            height: 15%;
            width: 80%;
            padding: 10% 5% 0 10%;
            }
    
    }